header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: tan;
    color: rgb(78, 48, 36);
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    border-radius: 10px 10px 0px 0px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    color: rgb(78, 48, 36);
    border-bottom: 3px solid #000;
}

body {
    background-color: moccasin;
}

.main-content {
    width: 75%;
}

.content {
    display: flex;
    align-items: center; /* This will center the items vertically */
}

.content ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: 30px;
}

.content h2 {
    margin-right: 20px;
    font-size: 40px;
    border-right: 5px solid #000; 
    padding-right: 20px; 
}

.content h3 {
    margin-right: 20px; 
    font-size: 40px;
    border-right: 5px solid #000; 
    padding-right: 20px; 
}

.content h4 {
    margin-right: 20px;
    font-size: 40px;
    border-right: 5px solid #000;
    padding-right: 20px;
}

#hero {
    width: 100%;
    height: 30vh;
    border: none;
}

h1 {
    border: 2px solid white;
    padding: 10px; 
    background-color: white;
    margin-left: 0;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 8px 8px 4px 0px rgb(70, 68, 68);
}

figure {
    display: block;
    margin: 0;
    width: 100%;
    padding: 0;
    position: relative;
}

figure img {
    margin: 0;
    border-radius: 0px 0px 10px 10px;
}

figcaption {
    position: absolute;
    bottom: 30px; 
    right: 0px;
    left: auto; 
    color: rgb(78, 48, 36);
    font-size: 30px;
    border: 2px solid white;
    background-color: white;
    padding: 5px; 
    border-radius: 10px 0px 0px 10px;
}


/* Footer elements */

footer {
    text-align: center;
    background-color: tan;
    border-radius: 10px 10px 10px 10px;
}