:root {
    --dark: rgb(78, 48, 36);
    --tan: tan;
}

body {
    background-color: rgb(238, 228, 211);
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--tan);
    color: var(--dark);
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 0;
}

a {
    position: relative;
    display: inline-block;
}

h1 {
    border: 2px solid white;
    padding: 10px; 
    background-color: white;
    margin-left: 0;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 8px 8px 4px 0px rgb(70, 68, 68);
}

/* Navigation bar items */

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

nav a {
    width: 100%;
    box-sizing: border-box; 
    padding: 0 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 20px;
}

.nav-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(211, 204, 204);
    border: none;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: whitesmoke;
    color: var(--dark);
}

/* Hero image and caption */

figure {
    display: block;
    margin: 0;
    width: 100%;
    padding: 0;
    position: relative;
}

figure img {
    margin: 0;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 30vh;
}

figcaption {
    position: absolute;
    bottom: 30px; 
    right: 0px;
    left: auto; 
    color: var(--dark);
    font-size: 30px;
    border: 2px solid black;
    background-color: rgb(221, 215, 215);
    padding: 5px; 
    border-radius: 10px 0px 0px 10px;
}

/* Main content */

section {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #ffffffbf;
    border-radius: 10px;
}

.sectionContent {
    width: 80%;
    margin: 12px;
    padding: 12px;
    border-left: solid 3px black;
    font-size: large;
}

.sectionTitle {
    width: 20%;
    text-align: center;
    margin: 12px;
    font-size: 32px;
    font-weight: bold;
    padding: 30px;
}


#aboutMe p {
    margin-left: 12px;
    text-align: center;
    padding: 0 30px;
}

#contactMe ul {
    list-style-type: none;
    display: flex;
}

#contactMe ul li {
    margin: 0 50px;
    border-bottom: 4px solid var(--dark)
}

/* Still not sure about below */

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}







/* This contains info regarding my project links/boxes */

.workLink {
    width: 300px; 
    height: 300px; 
    background-color: var(--tan);
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.workLink p {
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    color: var(--dark);
    font-weight: bold;
    font-family: 'Brush Script MT', cursive;
}

.workLink:hover {
    background-color: whitesmoke;
    color: var(--dark);
}

/* This changes the pre-work project box size. Acceptance criteria stated that the first application needed to be larger than the rest. */

.first-app {
    width: 630px;
    height: 300px;
}

/* This adds titles to the boxes under My Work */

.image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--dark);
    font-size: 20px;
}

/* Footer elements */

footer {
    text-align: center;
    background-color: var(--tan);
    border-radius: 10px 10px 10px 10px;
}

/* This adjusts the size of my personal photo in About Me */

img[src="assets/images/PersonalPhoto.jpeg"] {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(78, 48, 36);
}

/* Media queries */

@media screen and (max-width: 992px) {
    header {
        display: flex;
        flex-direction: column;
    }
    
    nav {
        flex-direction: column;
        align-items: center;
    }
    
  }
  
  @media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: column;
        align-items: center;
        width: 100%; /* Ensures the nav bar takes up the full width of its container */
        box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
        padding: 0 10px; /* Adds 20px of padding to the left and right of the nav bar */
    }

    .first-app {
        width: 300px;
        height: 630px;
    }

    section {
        flex-direction: column;
    }

    figure img {
        width: 100%; 
        height: auto;
    }

    #myWork {
        border-left: none;
    }

    #contactMe ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sectionContent {
        border-left: none;
        margin-top: 0px;
    }

    .sectionTitle {
        margin-bottom: 0px;
    }
}